<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body align="center">
  <div class="container">
    <ul class="nav nav-tabs">
    <% if current_user %>
      <li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <div class="pull-right user-info">
      Hello <%= current_user.name %>!
      <%= link_to "Edit Info", edit_user_registration_path %>
      </div>
    <% else %>
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
    <% end %>
    </ul>
  </div>
<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:error] %>
  <div class="alert alert-danger" >
    <%= flash[:error] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert" >
    <%= flash[:alert] %>
  </div>
<% end %>
<%= yield %>

</body>
</html>
